kestra/automations/marketing-crm/flows/bitrix24_form_persistence.yaml
id: bitrix24_form_persistence
namespace: redunisol

description: Persiste en Bitrix24 el contacto y lead del formulario usando un resultado de preclasificacion ya calculado.

labels:
  env: prod
  team: redunisol
  kind: internal
  integration: bitrix24

inputs:
  - id: submission_payload_json
    type: STRING
    required: true
  - id: submission_cuil
    type: STRING
    required: true
  - id: qualified
    type: BOOLEAN
    required: true
  - id: reason
    type: STRING
    required: true
  - id: message
    type: STRING
    required: true
  - id: rejection_label
    type: STRING
    required: false
  - id: bcra_result_json
    type: STRING
    required: false

tasks:
  - id: consultar_identidad
    type: io.kestra.plugin.core.flow.Subflow
    namespace: "{{ flow.namespace | replace({'marketing-crm': 'analisis-credito'}) }}"
    flowId: consulta_padron_a13
    inputs:
      cuit_cuil: "{{ inputs.submission_cuil }}"
    wait: true
    transmitFailed: false

  - id: persistir
    type: io.kestra.plugin.scripts.python.Commands
    namespaceFiles:
      enabled: true
      include:
        - bitrix24_form_flow/**
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
    containerImage: ghcr.io/kestra-io/pydata:latest
    beforeCommands:
      - pip install kestra > /dev/null
    env:
      SUBMISSION_PAYLOAD_JSON: "{{ inputs.submission_payload_json }}"
      QUALIFIED: "{{ inputs.qualified }}"
      REASON: "{{ inputs.reason }}"
      MESSAGE: "{{ inputs.message }}"
      REJECTION_LABEL: "{{ inputs.rejection_label }}"
      BCRA_RESULT_JSON: "{{ inputs.bcra_result_json }}"
      ARCA_RESOLVED_NOMBRE: "{{ outputs.consultar_identidad.outputs.nombre ?? '' }}"
      ARCA_RESOLVED_APELLIDO: "{{ outputs.consultar_identidad.outputs.apellido ?? '' }}"
      ARCA_RESOLVED_RAZON_SOCIAL: "{{ outputs.consultar_identidad.outputs.razon_social ?? '' }}"
      BITRIX24_BASE_URL: "{{ envs.bitrix24_base_url }}"
      BITRIX24_WEBHOOK_PATH: "{{ secret('BITRIX24_WEBHOOK_PATH') }}"
      BITRIX24_CONTACT_CUIL_FIELD: "{{ envs.bitrix24_contact_cuil_field }}"
      BITRIX24_LEAD_PROCESSING_POLICY_FIELD: "{{ envs.bitrix24_lead_processing_policy_field }}"
      BITRIX24_LEAD_PROCESSING_POLICY_SKIP: "{{ envs.bitrix24_lead_processing_policy_skip }}"
      BITRIX24_LEAD_PROCESSING_POLICY_PROCESS: "{{ envs.bitrix24_lead_processing_policy_process }}"
      BITRIX24_LEAD_CUIL_FIELD: "{{ envs.bitrix24_lead_cuil_field }}"
      BITRIX24_LEAD_EMPLOYMENT_STATUS_FIELD: "{{ envs.bitrix24_lead_employment_status_field }}"
      BITRIX24_LEAD_PAYMENT_BANK_FIELD: "{{ envs.bitrix24_lead_payment_bank_field }}"
      BITRIX24_LEAD_PROVINCE_FIELD: "{{ envs.bitrix24_lead_province_field }}"
      BITRIX24_LEAD_SOURCE_FIELD: "{{ envs.bitrix24_lead_source_field }}"
      BITRIX24_LEAD_REJECTION_REASON_FIELD: "{{ envs.bitrix24_lead_rejection_reason_field }}"
      BITRIX24_LEAD_BCRA_STATUS_FIELD: "{{ envs.bitrix24_lead_bcra_status_field }}"
      BITRIX24_LEAD_BCRA_RESULT_FIELD: "{{ envs.bitrix24_lead_bcra_result_field }}"
      BITRIX24_LEAD_BCRA_DATA_RAW_FIELD: "{{ envs.bitrix24_lead_bcra_data_raw_field }}"
      BITRIX24_LEAD_BCRA_CHECKED_AT_FIELD: "{{ envs.bitrix24_lead_bcra_checked_at_field }}"
      BITRIX24_LEAD_STATUS_QUALIFIED: "{{ envs.bitrix24_lead_status_qualified }}"
      BITRIX24_LEAD_STATUS_REJECTED: "{{ envs.bitrix24_lead_status_rejected }}"
      BITRIX24_TIMEOUT_SECONDS: "{{ envs.bitrix24_timeout_seconds }}"
    commands:
      - python -m bitrix24_form_flow.kestra_form_persistence_entrypoint

outputs:
  - id: ok
    type: BOOLEAN
    value: "{{ outputs.persistir.vars.ok }}"
  - id: qualified
    type: BOOLEAN
    value: "{{ outputs.persistir.vars.qualified }}"
  - id: contact_id
    type: STRING
    value: "{{ outputs.persistir.vars.contact_id }}"
  - id: lead_id
    type: STRING
    value: "{{ outputs.persistir.vars.lead_id }}"
  - id: lead_status
    type: STRING
    value: "{{ outputs.persistir.vars.lead_status }}"
  - id: action
    type: STRING
    value: "{{ outputs.persistir.vars.action }}"
  - id: reason
    type: STRING
    value: "{{ outputs.persistir.vars.reason }}"
  - id: message
    type: STRING
    value: "{{ outputs.persistir.vars.message }}"
