kestra/automations/marketing-crm/flows/bitrix24_form_webhook.yaml
id: bitrix24_form_webhook
namespace: redunisol

description: Recibe el payload del formulario, sincroniza contacto y lead en Bitrix24 y devuelve el resultado al caller.

labels:
  env: prod
  team: redunisol
  kind: webhook
  integration: bitrix24

tasks:
  - id: cargar_formulario
    type: io.kestra.plugin.scripts.python.Commands
    namespaceFiles:
      enabled: true
      include:
        - bitrix24_form_flow/**
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
    containerImage: ghcr.io/kestra-io/pydata:latest
    beforeCommands:
      - pip install kestra > /dev/null
    env:
      TRIGGER_BODY_JSON: "{{ trigger.body | json }}"
      BITRIX24_BASE_URL: "{{ envs.bitrix24_base_url }}"
      BITRIX24_WEBHOOK_PATH: "{{ secret('BITRIX24_WEBHOOK_PATH') }}"
      BITRIX24_CONTACT_CUIL_FIELD: "{{ envs.bitrix24_contact_cuil_field }}"
      BITRIX24_LEAD_PROCESSING_POLICY_FIELD: "{{ envs.bitrix24_lead_processing_policy_field }}"
      BITRIX24_LEAD_PROCESSING_POLICY_SKIP: "{{ envs.bitrix24_lead_processing_policy_skip }}"
      BITRIX24_LEAD_PROCESSING_POLICY_PROCESS: "{{ envs.bitrix24_lead_processing_policy_process }}"
      BITRIX24_LEAD_CUIL_FIELD: "{{ envs.bitrix24_lead_cuil_field }}"
      BITRIX24_LEAD_EMPLOYMENT_STATUS_FIELD: "{{ envs.bitrix24_lead_employment_status_field }}"
      BITRIX24_LEAD_PAYMENT_BANK_FIELD: "{{ envs.bitrix24_lead_payment_bank_field }}"
      BITRIX24_LEAD_PROVINCE_FIELD: "{{ envs.bitrix24_lead_province_field }}"
      BITRIX24_LEAD_SOURCE_FIELD: "{{ envs.bitrix24_lead_source_field }}"
      BITRIX24_LEAD_REJECTION_REASON_FIELD: "{{ envs.bitrix24_lead_rejection_reason_field }}"
      BITRIX24_LEAD_BCRA_STATUS_FIELD: "{{ envs.bitrix24_lead_bcra_status_field }}"
      BITRIX24_LEAD_BCRA_RESULT_FIELD: "{{ envs.bitrix24_lead_bcra_result_field }}"
      BITRIX24_LEAD_BCRA_DATA_RAW_FIELD: "{{ envs.bitrix24_lead_bcra_data_raw_field }}"
      BITRIX24_LEAD_BCRA_CHECKED_AT_FIELD: "{{ envs.bitrix24_lead_bcra_checked_at_field }}"
      BITRIX24_LEAD_STATUS_QUALIFIED: "{{ envs.bitrix24_lead_status_qualified }}"
      BITRIX24_LEAD_STATUS_REJECTED: "{{ envs.bitrix24_lead_status_rejected }}"
      BITRIX24_TIMEOUT_SECONDS: "{{ envs.bitrix24_timeout_seconds }}"
    commands:
      - python -m bitrix24_form_flow.kestra_form_intake_entrypoint

  - id: clasificar_lead
    type: io.kestra.plugin.core.flow.Subflow
    namespace: "{{ flow.namespace }}"
    flowId: bitrix24_lead_classification
    inputs:
      lead_id: "{{ outputs.cargar_formulario.vars.lead_id }}"
      force_processing: true
    wait: true
    transmitFailed: true
    runIf: "{{ outputs.cargar_formulario.vars.ok }}"

outputs:
  - id: ok
    type: BOOLEAN
    value: "{{ outputs.cargar_formulario.vars.ok ? outputs.clasificar_lead.outputs.ok : outputs.cargar_formulario.vars.ok }}"
  - id: qualified
    type: BOOLEAN
    value: "{{ outputs.cargar_formulario.vars.ok ? outputs.clasificar_lead.outputs.qualified : false }}"
  - id: contact_id
    type: STRING
    value: "{{ outputs.cargar_formulario.vars.ok ? outputs.clasificar_lead.outputs.contact_id : outputs.cargar_formulario.vars.contact_id }}"
  - id: lead_id
    type: STRING
    value: "{{ outputs.cargar_formulario.vars.ok ? outputs.clasificar_lead.outputs.lead_id : outputs.cargar_formulario.vars.lead_id }}"
  - id: lead_status
    type: STRING
    value: "{{ outputs.cargar_formulario.vars.ok ? outputs.clasificar_lead.outputs.lead_status : '' }}"
  - id: action
    type: STRING
    value: "{{ outputs.cargar_formulario.vars.ok ? outputs.clasificar_lead.outputs.action : outputs.cargar_formulario.vars.action }}"
  - id: reason
    type: STRING
    value: "{{ outputs.cargar_formulario.vars.ok ? outputs.clasificar_lead.outputs.reason : outputs.cargar_formulario.vars.reason }}"
  - id: message
    type: STRING
    value: "{{ outputs.cargar_formulario.vars.ok ? outputs.clasificar_lead.outputs.message : outputs.cargar_formulario.vars.message }}"

triggers:
  - id: webhook
    type: io.kestra.plugin.core.trigger.Webhook
    key: "{{ secret('BITRIX24_FORM_WEBHOOK_KEY') }}"
    wait: true
    returnOutputs: true
    responseContentType: application/json
