kestra/automations/marketing-crm/flows/bitrix24_form_webhook.yaml
id: bitrix24_form_webhook
namespace: redunisol

description: Recibe el payload del formulario, lo preclasifica y responde rapido al caller mientras persiste en Bitrix24 de forma asincronica.

labels:
  env: prod
  team: redunisol
  kind: webhook
  integration: bitrix24

tasks:
  - id: consultar_identidad
    type: io.kestra.plugin.core.flow.Subflow
    namespace: "{{ flow.namespace | replace({'marketing-crm': 'analisis-credito'}) }}"
    flowId: consulta_padron_a13
    inputs:
      cuit_cuil: "{{ trigger.body.cuil }}"
    wait: true
    transmitFailed: false

  - id: preclasificar_formulario
    type: io.kestra.plugin.scripts.python.Commands
    namespaceFiles:
      enabled: true
      include:
        - bitrix24_form_flow/**
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
    containerImage: ghcr.io/kestra-io/pydata:latest
    beforeCommands:
      - pip install kestra > /dev/null
    env:
      TRIGGER_BODY_JSON: "{{ trigger.body | json }}"
      ARCA_RESOLVED_NOMBRE: "{{ outputs.consultar_identidad.outputs.nombre }}"
      ARCA_RESOLVED_APELLIDO: "{{ outputs.consultar_identidad.outputs.apellido }}"
      ARCA_RESOLVED_RAZON_SOCIAL: "{{ outputs.consultar_identidad.outputs.razon_social }}"
    commands:
      - python -m bitrix24_form_flow.kestra_form_prequalification_entrypoint

  - id: persistir_bitrix
    type: io.kestra.plugin.core.flow.Subflow
    namespace: "{{ flow.namespace }}"
    flowId: bitrix24_form_persistence
    inputs:
      submission_payload_json: "{{ outputs.preclasificar_formulario.vars.payload_json }}"
      qualified: "{{ outputs.preclasificar_formulario.vars.qualified }}"
      reason: "{{ outputs.preclasificar_formulario.vars.reason }}"
      message: "{{ outputs.preclasificar_formulario.vars.message }}"
      rejection_label: "{{ outputs.preclasificar_formulario.vars.rejection_label }}"
      bcra_result_json: "{{ outputs.preclasificar_formulario.vars.bcra_result_json }}"
    wait: false
    transmitFailed: false
    runIf: "{{ outputs.preclasificar_formulario.vars.ok }}"

outputs:
  - id: ok
    type: BOOLEAN
    value: "{{ outputs.preclasificar_formulario.vars.ok }}"
  - id: qualified
    type: BOOLEAN
    value: "{{ outputs.preclasificar_formulario.vars.qualified }}"
  - id: contact_id
    type: STRING
    value: ""
  - id: lead_id
    type: STRING
    value: ""
  - id: lead_status
    type: STRING
    value: ""
  - id: action
    type: STRING
    value: "{{ outputs.preclasificar_formulario.vars.action }}"
  - id: reason
    type: STRING
    value: "{{ outputs.preclasificar_formulario.vars.reason }}"
  - id: message
    type: STRING
    value: "{{ outputs.preclasificar_formulario.vars.message }}"

triggers:
  - id: webhook
    type: io.kestra.plugin.core.trigger.Webhook
    key: "{{ secret('BITRIX24_FORM_WEBHOOK_KEY') }}"
    wait: true
    returnOutputs: true
    responseContentType: application/json
