kestra/automations/cobranzas/flows/bitrix_deal_promesa_send.yaml
id: bitrix_deal_promesa_send
namespace: redunisol

description: Espera (si corresponde), revalida el deal y envia plantilla por Edna.

labels:
  env: prod
  team: redunisol
  kind: internal
  domain: cobranzas
  integration: bitrix24

inputs:
  - id: deal_id
    type: STRING
    required: true
  - id: expected_promise_value
    type: STRING
    required: true
  - id: delay_seconds
    type: STRING
    required: true

tasks:
  - id: enviar_promesa
    type: io.kestra.plugin.scripts.python.Commands
    namespaceFiles:
      enabled: true
      include:
        - bitrix_deal_promesa/**
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
    containerImage: ghcr.io/kestra-io/pydata:latest
    beforeCommands:
      - pip install kestra requests > /dev/null
    env:
      DEAL_ID: "{{ inputs.deal_id }}"
      EXPECTED_PROMISE_VALUE: "{{ inputs.expected_promise_value }}"
      DELAY_SECONDS: "{{ inputs.delay_seconds }}"
      BITRIX24_BASE_URL: "{{ envs.bitrix24_base_url }}"
      BITRIX24_TIMEOUT_SECONDS: "{{ envs.bitrix24_timeout_seconds }}"
      BITRIX24_WEBHOOK_PATH: "{{ secret('BITRIX24_WEBHOOK_PATH') }}"
      TARGET_STAGE_ID: "{{ envs.bitrix24_promesa_target_stage_id }}"
      TARGET_CATEGORY_ID: "{{ envs.bitrix24_promesa_target_category_id }}"
      PROMISE_DATE_FIELD: "{{ envs.bitrix24_promesa_date_field }}"
      PROMISE_AMOUNT_FIELD: "{{ envs.bitrix24_promesa_amount_field }}"
      EDNA_API_KEY: "{{ secret('EDNA_API_KEY') }}"
      EDNA_URL: "{{ envs.edna_url }}"
      EDNA_SENDER: "{{ envs.edna_sender }}"
      EDNA_TEMPLATE_ID: "{{ envs.edna_template_id }}"
      EDNA_COMMENT: "{{ envs.edna_comment }}"
      EDNA_TIMEOUT_SECONDS: "{{ envs.edna_timeout_seconds }}"
      LOCAL_TZ: "{{ envs.local_tz }}"
    commands:
      - python -m bitrix_deal_promesa.kestra_send_entrypoint

outputs:
  - id: ok
    type: BOOLEAN
    value: "{{ outputs.enviar_promesa.vars.ok }}"
  - id: action
    type: STRING
    value: "{{ outputs.enviar_promesa.vars.action }}"
  - id: reason
    type: STRING
    value: "{{ outputs.enviar_promesa.vars.reason }}"
  - id: deal_id
    type: STRING
    value: "{{ outputs.enviar_promesa.vars.deal_id }}"
  - id: edna_status
    type: STRING
    value: "{{ outputs.enviar_promesa.vars.edna_status }}"
